<!-- <div class="container">

</div> -->
<div class="main-content">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a (click)="changeCat(0)" class="nav-link text-white" aria-current="page"> Home </a>
      </li>
      <!-- <li>
        <a href="#" class="nav-link text-white"> Dashboard </a>
      </li> -->
      <li>
        <a (click)="changeCat(2)" class="nav-link text-white"> Sellers </a>
      </li>
      <li>
        <a (click)="changeCat(1)" class="nav-link text-white"> Categories </a>
      </li>
      <li>
        <a (click)="changeCat(4)" class="nav-link text-white"> Add Category </a>
      </li>
      <li>
        <a (click)="changeCat(3)" class="nav-link text-white"> Customers </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white"> View Orders </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white"> Statistics </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white"> Profit </a>
      </li>
    </ul>
    <hr />
  </div>
</div>
