<div class="container">
<h3>Add Product</h3>
Name: <input type="text" [(ngModel)]="name"><br>
Price: <input type="text" [(ngModel)]="price"><br>
Quantity: <input type="text" [(ngModel)]="quantity"><br>
Description: <input type="text" [(ngModel)]="description"><br>
Discount: <input type="text" [(ngModel)]="discount"><br>
Category: <select [(ngModel)]="categoryid">
    <option *ngFor="let cat of list" [value]="cat.id">{{cat.name}}</option>
</select><br>
Image: <input type="file" (change)="onFileSelected($event)"><br>
<button (click)="addProd()">Add</button>
</div>