.admin-container{
    /* border: 3px solid black; */
    display: flex;
    /* height: 100%; */
}
/* .side{
     width: 20%; 
    border: 3px solid green;  
} */
.cnt{
    width: 100%;
    /* border: 3px solid blue; */
}